
.main-container{
    display: flex;
    justify-content: center;
    align-content: center;
    width:800px;
    height:500px;
    background:black;
    border: 3px dotted red;
    color:white;  
}
.flex-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
/*
.row{
    display: flex;
    justify-content: center;
    align-content: left;
    float:left;
    flex-direction: row;

}
.container{
    display: flex;
    justify-content: center;
    align-content: center;
}
*/
.aside{
    display: flex;
    justify-content: center;
    align-content: left;
    color:;
    flex-direction: row;
     
}
.card-1{
    border-right: 2px dotted red;
}
